/* BookmarkDialog.module.less */
@import '~@enact/agate/styles/variables-base.less';

.bookmarkWrap {
	flex: 1;
	box-sizing: border-box;
	font-size: 2rem;
	padding: 0 5px 5px;
}

.bookmarkInner {
	padding: 36px 100px 20px;
	background-color: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 1rem;
}

.button {
	padding: 0 2.5rem !important;
	font-size: 2rem !important;
	height: 4rem !important;
}

.buttonGrp {
	margin-top: 1.75rem;
	margin-bottom: 50px;
	display: flex;
	justify-content: flex-end;
}
