/* PinPopup.module.less */

@import '~@enact/agate/styles/skin.less';

.form {
	display: inline-block;
}

.input {
	-webkit-text-security: disc;
}

.guide {
	display: inline-block;
	vertical-align: middle;
}

.ok {
	margin-right: 30px;
}

.buttonSet {

	.applySkins({
		margin-top: 6px;
		margin-bottom: 6px;
		border-radius: 1.25rem;
		padding: 0;
	})
}
