/* SiteFiltering.less */
@import '~@enact/moonstone/styles/skin.less';

.scroller {
	padding: 24px 170px 20px 100px;
	height: ~"calc(100vh - " 236px ~")";
}

.inputContainer {
	display: inline;
	position: relative;
}

.input {
	width: 75%;
}

.add {
	position: absolute;
	margin: 16px;
	right: 24px;
	cursor: pointer;
	.applySkins({
		color: dimgray;
	});
}

.button {
	display: inline-block;
	margin: 16px;
	.applySkins({
		font-size: 24px;
		font-weight: 700;
		color: #4B4B4B;
		.bg {
			background-color: white;
		}
	});
}

.list {
	padding: 10px;
}
