/* Main.module.less */
@import "~@enact/agate/styles/skin.less";


.flexbox-row {
  margin: 36px 0;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.button {
  margin-top: 24px;
}

.fullscreen {
  background-color: white;

  .applySkins({
    .icon {
      color: black
    }
  });
}

.testButtonStyles {
  // position: relative !important;
  // top: 4.05rem !important;
  // left: 0rem !important;
  color: red;
}