/* Main.module.less */

.flexbox-row {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.main-bar {
	background: radial-gradient(70% 60% at center, var(--cue-bg-color, #910137), transparent 70%);
}

.private-text {
	color: var(--cue-text-color, #ce2e6b);
	font-size: 80%;
	font-family: "Liberation Sans";
	font-weight: 900;
	height: 0px;
	text-align: center;
}

.button {
	margin-top: 24px;
}
