/* Dialog.module.less */

.input {
	width: 100%;
}

.checkbox {
	margin-right: 20px;
}

.password {
	margin-top: 15px;
}

.preventWarning {
	text-align: left;
	margin: 10px 6px 0;
	display: flex;
	align-items: center;
}
