/* ContentView.module.less */

.contentView {
	flex: 1 auto;
	border-top: solid 4px;
}

.contentViewFullScreen {
	flex: 1 auto;
}

.webView {
	width: 100%;
	bottom: 0;
	top: 203px;
	height: 100%;

	&.shrinkHeight {
		// shrink as much as bookmarkbar height (84px)
		height: ~"calc(100% - 84px)";
	}
}
