/* ContentView.less */

.contentView {
	flex: 1 auto;
	border-top: solid 4px;
	height: 100%;
}

.contentViewFullScreen {
	flex: 1 auto;
	height: 100%;
}

.webView {
	width: 100%;
	bottom: 0;
	top: 203px;
	height: 100%;
}
