/* BookmarkManager.module.less */
@import '~@enact/agate/styles/variables-base.less';

.bookmarkManager {
	height: 75vh;
	padding: 36px 100px 20px 100px;
	flex: 1;
	box-sizing: border-box;
}

.button {
	width: 231px;
}

.scroller {
	height: ~"calc(100vh - " 200px + @agate-button-small-height + 36px ~")";
	padding: 21px 9px 9px 9px;
	&.shrinkHeight {
		// shrink as much as bookmarkbar height (84px)
		height: ~"calc(100vh - " 200px + @agate-button-small-height + 36px + 84px ~")";
	}
}

.noItem {
	margin: 21px;
}
