/* BookmarkItem.module.less */

@import '~@enact/agate/styles/skin.less';

.bookmarkItem {
	height: 72px;
	width: 99%;
	display: flex;
	align-items: center;
}

.checkbox {
	margin: 15px;
	.applySkins({
		color: white;
	});
}

.title {
	width: 95%;
	.applySkins({
		line-height: 72px;
		height: 72px;
	});
}

.favicon {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url('../../../assets/tab-icons/favicon_default.svg') no-repeat center center;
	background-size: contain;
	flex-grow: 1;
	flex-shrink: 0;
}
