/* ZoomControlMenu.module.less */

@import '~@enact/agate/styles/skin.less';

.zoomMenu {
    background-color: rgba(236, 236, 236, 0.95);
    border-radius: 20px;
    padding: 10px;
}

.picker {
    .applySkins({
        font-size: 45px;

        .active {
            font-size: 45px;
        }
    });
}

body {
    width: max-content;
}
