/* Omnibox.module.less */
@import '~@enact/moonstone/styles/mixins.less';
@import '~@enact/moonstone/styles/skin.less';

.div {
	display: flex;
	flex-grow: 0.9;
}

.form {
	display: flex;
	flex-grow: 1;
	position: relative;
}

@media only screen and (min-width: 1280px) {
	.form {
		margin-right: 42px;
	}
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
	.popup {
		width: 810px;
	}
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {
	.popup {
		width: 1020px;
	}
}

@media only screen and (min-width: 1920px) {
	.popup {
		width: 1260px;
	}
}

@media only screen and (max-width: 1280px) {
	.form {
		margin-right: 0;
	}

	.popup {
		width: 620px;
	}
}

.form div:first-child {
	display: flex;
	flex-grow: 1;
}

.inputBox {
	height: 80px;
	padding: 12px 80px;
	input {
		flex-grow: 1;
		padding-right: 80px;
		font-weight: 700;
		margin-top: -11px;
	}

	@media only screen and (min-width: 1280px) {
		input {
			font-size: 44px;
		}
	}

	@media only screen and (max-width: 1280px) {
		input {
			font-size: 28px;
		}
	}

	@media only screen and (min-width: 720px) and (max-width: 1024px) {
		input {
			font-size: 28px;
			width: 51px;
		}
	}

	.applySkins({
		//background-color: #4E4E4E;
		.focus({
		//	background-color: #4E4E4E;
		//	border-color: transparent;
		});
	});

}

.iconButton {
	&.small {
		&.reloadStopButton {
			padding: 0 24px;
			position: absolute;
			right: 24px;
		}


		&.bookmarkButton {
			padding: 0 24px;
			position: absolute;
			right: 80px;
		}
	}
}

.searchIcon {
	padding: 0 24px;
	position: absolute;
	pointer-events: none;
}

.addBookmarkToHome {
	padding-right: 7%;
}
