/* SuggestedItem.module.less */

@import '~@enact/agate/styles/mixins.less';
@import '~@enact/agate/styles/skin.less';
@import '~@enact/agate/styles/variables.less';


div {
	color: black;
}

.icon {
	pointer-events: none;
	scale: 1.5;
}

.Item {
	display: flex;
	flex-direction: row;
	width: 100%;

	.applySkins({
		border-bottom-color: transparent;

		.focus({
			border-bottom-color: transparent;
		});
	});

	div {
        color: black;
        width: 100%;
        font-size: 45px;
    }
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
