/* ExitFullScreenButton.module.less */

@import "~@enact/agate/styles/skin.less";

.exitButton {
	top: 101px;
	left: -42px;
	position: absolute;

	.applySkins({
		.bg {
			background-color: #4c5360;
		}
		.icon {
			top: 6px;
			left: 12px;
			background-size: 80% 80%
		}
	});
}
