/* HistoryItem.module.less */

@import '~@enact/agate/styles/skin.less';
@import '~@enact/agate/styles/mixins.less';

.historyItem {
	height: 72px;
	width: 100%;
	display: flex;
	align-items: center;
}

.checkbox {
	margin: 15px;
	.applySkins({
		color: white;
	});
}

.title {
	width: 95%;
	.applySkins({
		line-height: 72px;
		height: 72px;
	});
}

.date {
	width: 100%;
	.applySkins({
		color: lightgrey;
		opacity: 1;
		line-height: 60px;
		height: 72px;

		&:last-child {
			border-bottom-color: @agate-accent;
		}

		.focus({
			border-color: transparent;
			border-bottom-color: @agate-accent;
			background-color: transparent;
			color: lightgrey;
		});
	});
}
