/* UserPermissionPopup.module.less */
/* Popup.module.less */

@import '~@enact/agate/styles/skin.less';
@import '~@enact/agate/styles/variables.less';
@import '~@enact/agate/styles/mixins.less';

.notificationPopup {
	background-color: #e1e1e1;
	padding: 1.5rem;
	border-radius: 1rem;
	font-size: 2rem;
	font-weight: 400;
	color: #000;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.title {
	font-size: 2.25rem;
	font-weight: 500;
}

.closeIcon {
	font-size: 4rem !important;
	bottom: 0.5rem;
}

.item {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.icon {
	margin-right: 1rem;

	img {
		width: 3rem;
		height: 3rem;
	}
}

.button {
	padding: 0 2.5rem !important;
	font-size: 2rem !important;
	height: 4rem !important;
}

.buttonGrp {
	margin-top: 1.75rem;
	display: flex;
	justify-content: flex-end;
}
